@media (max-width: 768px) {
  .menu-overlay {
    display: none;
    width: 0%;
    height: 100%;
    position: fixed;
    z-index: 1;
    background-color: #333333e6;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    top: 0;
    left: 0;
    text-align: center;
    transition: 0.5s ease-in;
  }

  .menu-overlay i {
    padding: 8px;
    position: absolute;
    right: 24px;
    top: 24px;
    transition: 0.5s ease;
  }

  .menu-overlay i,
  .menu-option li a {
    color: var(--white-color);
    font-weight: 400;
    font-size: 24px;
    line-height: 44px;
  }

  .menu-option li a:hover {
    color: var(--secondary-color);
  }

  .menu-overlay ul {
    width: 100%;
  }

  .menu-option {
    position: absolute;
    top: 90px;
  }

  .close-icon {
    font-style: normal;
  }
}
